<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@@title - AI Writer & Copywriting Tailwind CSS Template</title>
<meta name="description" content="AI Writer & Copywriting Tailwind CSS Template">
<meta name="keywords" content="AI, Copywriting, Tailwind, Responsive, Artificial Intelligence, Robot, Robot AI">
<meta name="author" content="Shreethemes">
<meta name="website" content="https://shreethemes.in">
<meta name="email" content="support@shreethemes.in">
<meta name="version" content="1.0">
<!-- favicon -->
<link href="assets/images/favicon.ico" rel="shortcut icon">